<h2>Todo</h2>
<ul>
  <li *ngFor="let todo of todos$ | async" [class.completed]="todo.completed">
    <input
      type="checkbox"
      (change)="onCheckboxChanged($event, todo)"
      [checked]="todo.completed"
    />
    <a href="/todos/{{ todo.id }}">
      {{ todo.todo }}
    </a>
  </li>
</ul>

<h2>Done</h2>
<ul>
  <li *ngFor="let todo of done$ | async" [class.completed]="todo.completed">
    <input
      type="checkbox"
      (change)="onCheckboxChanged($event, todo)"
      [checked]="todo.completed"
    />
    <a href="/todos/{{ todo.id }}">
      {{ todo.todo }}
    </a>
  </li>
  <div *ngIf="!(done$ | async)">c'est un peu vide par ici !</div>
</ul>

<button class="add">+</button>

<form [formGroup]="addTodoFormGroup" [class.add-todo]="isAddTodoShown" class="add-todo-form">
  <input
    type="text"
    placeholder="Que voulez vous faire ?"
    formControlName="todoText"
  />
</form>
