div {
  padding: 20px;
  background-color: #3b4252;

  min-width: 250px;
  max-width: 500px;
  width: 100vw;
  color: white;
  border-radius: 7px;

  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: block;
  height: 30px;
  font-size: 0.8rem;
  background-color: #bf616a;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.add-todo-form {
  display: none;
}
.add-todo {
  display: block !important;
}
